<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update User</title>
    <script src="/javascript/submitForm.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/messages.css" />
  </head>
  <body>
    <div class="w-50 mx-auto mt-5 card p-5 shadow-sm">
      <h2 class="card-title text-center">Update user!</h2>
      <div class="card-body">
        {{> _form }}
        <a href="/users" class="card-link float-right mt-4">Go back</a>
      </div>
    </div>
  </body>
</html>
